Repository tomiok/queuety: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing module replacements
  entry: replace\s+.+\s+=>\s+.+
  language: pygrep

go-unit-tests:
  name: Go unit tests should be in _test.go files
  entry: func Test.+\(.*testing\.T\)
  language: pygrep

fix: clean docker compose
  docker-compose.yml
Due: none

fix how we w/r messages, using little endian as delimiter
  manager/manager.go
  server/main/main.go
  server/server.go
Due: go-unit-tests

WIP - need more work in clients
  _example/binary-server-client/client/main/README.md
  _example/binary-server-client/client/main/file1.txt
  _example/binary-server-client/client/main/file2.txt
  _example/binary-server-client/client/main/file3.txt
  _example/binary-server-client/client/main/main.go
  _example/binary-server-client/server/main/main.go
  manager/manager.go
  server/server.go
  server/server_test.go
  server/types.go
Due: go-unit-tests

add binary protocol in JSON messages
  _example/binary-server-client/client/main/main.go
  file1.txt
  file2.txt
  file3.txt
  manager/manager.go
  server/persistence.go
  server/server.go
  server/server_test.go
  server/stats.go
  server/types.go
Due: go-unit-tests

delete unused files
  file1.txt
  file2.txt
  file3.txt
Due: none

Fix/read messages (#22)
  _example/binary-server-client/client/main/README.md
  _example/binary-server-client/client/main/file1.txt
  _example/binary-server-client/client/main/file2.txt
  _example/binary-server-client/client/main/file3.txt
  _example/binary-server-client/client/main/main.go
  _example/binary-server-client/server/main/main.go
  manager/manager.go
  server/main/main.go
  server/persistence.go
  server/server.go
  server/server_test.go
  server/stats.go
  server/types.go
Due: go-unit-tests

feature(metrics-badger): create endpoint metris to return badger data
  server/server.go
  server/stats.go
Due: go-unit-tests

feature(metrics-badger): change naming to be more clear
  server/server.go
  server/stats.go
Due: go-unit-tests

Add metrics endpoint to expose Badger database contents as JSON (#23)
  server/server.go
  server/stats.go
Due: go-unit-tests

feat: backpressure in the sender
  go.mod
  go.sum
  server/main/main.go
  server/rate_limiter.go
  server/server.go
Due: go-no-replacement, go-unit-tests

delete unnecessary comment
  server/main/main.go
Due: go-unit-tests

feat: backpressure in the sender (#25)
  go.mod
  go.sum
  server/main/main.go
  server/rate_limiter.go
  server/server.go
Due: go-no-replacement, go-unit-tests

(fix) json messages
  manager/manager.go
Due: go-unit-tests

fix how we read json
  manager/manager.go
Due: go-unit-tests

fix how we read json (#26)
  manager/manager.go
Due: go-unit-tests

upload some docs
  .gitignore
  protocol.md
Due: none

delete json-based message struct
  manager/manager.go
  server/persistence.go
  server/server.go
  server/server_test.go
  server/types.go
Due: go-unit-tests

updatge message immutability
  manager/manager.go
  server/server.go
  server/types.go
Due: go-unit-tests

add TTL
  manager/manager.go
  server/message.go
  server/message_binary.go
  server/persistence.go
  server/rate_limiter.go
  server/server.go
  server/server_test.go
  server/topic.go
Due: go-unit-tests

Path conditions:
  go-no-replacement: any of: go\.mod$
  go-unit-tests: any of: \.go$, but not: _test\.go$
