Repository tomiok/queuety: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--multi', '--unsafe']
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-docstring-first
      - id: debug-statements

  # Go specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      # Run go mod tidy
      - id: go-mod-tidy

      # Check for common Go mistakes
      - id: go-vet-mod

      # Run tests
      - id: go-test-mod
        args: [-race, -timeout=10m]

      # Build check
      - id: go-build-mod

  # Go formatting and linting with golangci-lint v2
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      # Format code with golangci-lint fmt
      - id: golangci-lint-fmt
        name: golangci-lint-fmt
        entry: golangci-lint fmt
        language: golang
        files: \.go$
        pass_filenames: false
        args: ['./...']

      # Full linting
      - id: golangci-lint
        name: golangci-lint-full
        args: [--config=.golangci.yml, --timeout=10m]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013']  # Disable line length rule

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(yaml|yml|json|md)$
        exclude: \.golangci\.yml$  # Exclude golangci config as it has specific formatting

  # Commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

  # Check for common issues in Go code
  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing module replacements
        entry: 'replace\s+.+\s+=>\s+.+'
        language: pygrep
        files: go\.mod$

      - id: go-unit-tests
        name: Go unit tests should be in _test.go files
        entry: 'func Test.+\(.*testing\.T\)'
        language: pygrep
        files: \.go$
        exclude: _test\.go$

      - id: go-mod-vendor-check
        name: Check go.mod and go.sum are up to date
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -c
          - |
            set -e
            if [ -f go.mod ]; then
              go mod tidy
              git diff --exit-code go.mod go.sum
            fi

# Global configuration
default_install_hook_types: [pre-commit, commit-msg]

# Minimum pre-commit version
minimum_pre_commit_version: 2.15.0

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(docker): add docker-compose support
  .github/workflows/ci.yml
  Makefile
  docker-compose.yml
  server/server.go
Due: go-unit-tests

fix examples
  _example/simple-server-client/client/main/main.go
  server/server.go
  server/stats.go
Due: go-unit-tests

feat(observability): Añadir métricas de Prometheus para monitoreo del sistema
  go.mod
  go.sum
  server/main/main.go
  server/observability/metrics.go
  server/persistence.go
  server/server.go
  server/stats.go
Due: go-no-replacement, go-unit-tests

fix: rollback changes in stats
  server/stats.go
Due: go-unit-tests

feat(observability): Añadir soporte para variable de entorno QUEUETY_METRICS_ENABLED
  server/server.go
Due: go-unit-tests

feat(observability): Add OpenTelemetry and Prometheus metrics instrumentation
  .env.example
  README.md
  go.mod
  go.sum
  server/main/main.go
  server/observability/metrics.go
  server/observability/opentelemetry.go
  server/observability/tracing.go
  server/persistence.go
  server/server.go
Due: go-no-replacement, go-unit-tests

fix: standar env
  .env.example
  server/observability/opentelemetry.go
Due: go-unit-tests

delete prints that were added for debugging (wrong practice)
  server/server.go
Due: go-unit-tests

chore: remove pre-commit configuration and hooks
  .pre-commit-config.yaml
  Makefile
  WORKFLOWS.md
Due: none

Chore/go linting and formatting (#13)
  .github/workflows/ci.yml
  .github/workflows/go-ossf-slsa3-publish.yml
  .github/workflows/slsa-release.yml
  .golangci.yml
  .slsa-goreleaser.yml
  Makefile
  WORKFLOWS.md
  docker-compose.yml
Due: none

fix tests among ci golang linter version
  .github/workflows/ci.yml
  server/server.go
  server/server_test.go
Due: go-unit-tests

fix tests
  .github/workflows/ci.yml
  .golangci.yml
  _example/simple-server-client/server/main/main.go
  server/server.go
  server/server_test.go
Due: go-unit-tests

fix golangCI
  .github/workflows/ci.yml
Due: none

ci: update golangci-lint action and config
  .github/workflows/ci.yml
Due: none

fix golangCI- again
  .github/workflows/ci.yml
Due: none

ci: update golangci-lint action and config (#15)
  .github/workflows/ci.yml
  .golangci.yml
  _example/simple-server-client/server/main/main.go
  server/server.go
  server/server_test.go
Due: go-unit-tests

fix: remove comments
  server/main/main.go
  server/observability/metrics.go
  server/observability/opentelemetry.go
  server/observability/tracing.go
  server/persistence.go
  server/server.go
  server/stats.go
Due: go-unit-tests

fix: translate Observability section in README.md & comments in .env.example
  .env.example
  README.md
Due: none

Update server/persistence.go
  server/persistence.go
Due: go-unit-tests

feat(observability): Improve span and error handling
  server/persistence.go
  server/server.go
Due: go-unit-tests

add go.mod & go.sum
  go.mod
  go.sum
Due: go-no-replacement

fix(lint): update golangci-lint output config format
  .golangci.yml
Due: none

fix ci and cleanup makefile among other changes
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  WORKFLOWS.md
  _example/simple-server-client/server/main/main.go
  docker-compose.yml
  manager/manager.go
  server/main/main.go
  server/persistence.go
  server/scheduler.go
  server/server.go
  server/stats.go
  server/types.go
Due: go-unit-tests

update linter
  .github/workflows/ci.yml
  .golangci.yml
Due: none

update linter, add removed docker
  .github/workflows/ci.yml
Due: none

update linter with new version
  .github/workflows/ci.yml
Due: none

delete CI file
  .github/workflows/ci.yml
Due: none

update CI
  .github/workflows/CI.yml
  .golangci.yml
Due: none

fix test steps
  .github/workflows/CI.yml
Due: none

update CI (#18)
  .github/workflows/CI.yml
  .golangci.yml
Due: none

update linter
  .golangci.yml
  server/main/main.go
Due: go-unit-tests

update linter an dCI
  .github/workflows/CI.yml
  .golangci.yml
Due: none

update linter an dCI
  .golangci.yml
Due: none

wip
  .golangci.yml
Due: none

add formatters
  .golangci.yml
Due: none

add v8 for ci linter
  .github/workflows/CI.yml
Due: none

add v6 for ci linter
  .github/workflows/CI.yml
Due: none

test number 999999
  .github/workflows/CI.yml
  .golangci.yml
Due: none

update linter (#19)
  .github/workflows/CI.yml
  .golangci.yml
  server/main/main.go
Due: go-unit-tests

feat: refactor and improve distributed tracing system
  docker-compose.yml
  monitoring/prometheus.yml
  server/observability/tracing.go
  server/server.go
Due: go-unit-tests
